*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
.login{

    display: grid;
    place-items: center;

    padding-inline: 0.833vw;   

    width: 100vw;
    height: 100dvh;
    background: url("../img/map.jpg") no-repeat center/cover;
}
.container-login{
    padding-inline: 1.823vw;
    border-radius: 2.344vw;
    width: 21.25vw;
    height: 39.583vw;
    background-color: #F5F6F7;
}
.container-login h1{
    font-weight: 400;
    font-size: 2.083vw;

    margin-top: 1.823vw;
}


.form-login .password-info{
    padding-top: 1.042vw;
    display: flex;
    flex-direction: column;
}

.form-login .password-info .password,
.form-login .name-info .name{
    font-size: 1.25vw;
}


.form-login .name-info{
    padding-top: 2.656vw;
    display: flex;
    flex-direction: column;
}

.form-login .password-info input,
.form-login .name-info input{
    padding-left: 1vw;
    color: #F5F6F7;
    width: 17.552vw;
    height: 1.771vw;
    background-color: #2D3134;
    outline: none;
    border-radius: 0.781vw;
    border: none;
}

.submit-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-area a{
    margin-top: 2.917vw;
    font-size: 0.625vw;
    color: #2D3134;
}

.btn-submit{
    cursor: pointer;
    margin-top: 1.771vw;
    width: 9.167vw;
    height: 2.083vw;
    background-color: #2D3134;
    border-radius: 0.781vw;
    font-size: 1.042vw;
    color: #fff;

    border: none;
}


.create-account{
    margin-top: 3.75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-account span,
.create-account a{
    font-size: 0.625vw;
    color: #2D3134;
}


.division{
    margin-top: 2.604vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.division span{
    font-size: 0.625vw;
}

.division .line{
    width: 6.979vw;
    height: 0.052vw;
    background-color: #2D3134;
}



.white,
.black{
    width: 100vw;
    height: 0dvh;
    position: fixed;
    bottom: 0vw;
    z-index: 999;
    border-radius: 2.344vw 2.344vw 0 0;
}

.black{
    background-color: #212121;
}
.white{
    background-color: #F5F6F7;
}